doctype html
//[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
//[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no', name='viewport')
    meta(name='description', content='free catus Template')
    meta(name='keywords', content='free bootstrap, html5, css3, responsive')
    block title
    block font 
      link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Roboto+Condensed:300italic,400italic,700italic,400,300,700', rel='stylesheet', type='text/css')
      link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700', rel='stylesheet', type='text/css')
    block css 
      link(href='public/css/bootstrap.min.css', rel='stylesheet', media='screen')
      link(href='public/css/style.css', rel='stylesheet', media='screen')
    block script 
      script(src='public/js/jquery.js' defer)
      script(src='public/js/bootstrap.min.js' defer)
      script(src='publci/js/animatescroll.js' defer)
      script(src='public/js/retina.min.js' defer)
      script(src='public/js/scripts.js' defer)
  body
   block main