extends ./template/layout.pug
block title
  title :: App Info CATUS ::
block append font
block append css
block append script
block append header
block section 
  include ./include/purchase.pug
  include ./include/payoff.pug
  include ./include/detail.pug
  include ./include/features.pug
  include ./include/social.pug
  include ./include/get-it.pug