section.detail
  .container
    .row
      .col-md-12
        #carousel-example-generic-2.carousel.slide
          .carousel-inner
            .item.active
              .row
                .col-sm-12.col-md-offset-1.col-md-6
                  h1 
                    | Simple Design 
                    br
                    | One Touch Play 
                    br
                    | Multi Category
                    br
                    | Replays 
                  p SOMR Sytem 심플, 원터치 그리고 다양한 카테고리
                .col-sm-12.col-md-5
                  .app-screenshot
                    img.img-responsive(src='public/img/screenshots/app-4.png', alt='App Screen 1')
            .item
              .row
                .col-sm-12.col-md-offset-1.col-md-6
                  h1 
                    | Login 
                    br
                    | Logout 
                    br
                    | Simple join 
                  p LLS 심플, 로그인 로그아웃 그리고 회원가입 
                .col-sm-12.col-md-5
                  .app-screenshot
                    img.img-responsive(src='public/img/screenshots/app-5.png', alt='App Screen 2')
            .item
              .row
                .col-sm-12.col-md-offset-1.col-md-6
                  h1 
                    | MyPage 
                    br
                    | Collection 
                    br
                  p MC 마이페이지 그리고 컬렉션 
                .col-sm-12.col-md-5
                  .app-screenshot
                    img.img-responsive(src='public/img/screenshots/app-6.jpg', alt='App Screen 3')
          ol.carousel-indicators
            li.active(data-target='#carousel-example-generic-2', data-slide-to='0')
            li(data-target='#carousel-example-generic-2', data-slide-to='1')
            li(data-target='#carousel-example-generic-2', data-slide-to='2')