section.features
  .container
    .row
      .col-md-4
        .circle
          h2 Qulity
        h2 Quick & Easy Setup
        p 퀄리티를 높이고, 쉬운 다운로드
      .col-md-4
        .circle
          h2 UX & UI 
        h2 Design Simple 
        p 깔끔한 디자인과 UX를 활용한 디자인 
      .col-md-4
        .circle
          h2 Touch 
        h2 One touch 
        p 단순한 게임조작방법 