section.get-it
  .container
    .row
      .col-md-12
        h1 지금 앱을 다운받아보세요. 
        button.play-store.animates(type='button')
        button.app-store.animates(type='button')
      .col-md-12
        hr
        ul
          li
            a(href='#link-here') Contact
          li 
            a(href="#") Youtube
          li 
            a(href="#") Facebook
          li
            a(href='#link-here') Developers