section.purchase
  .container
    .ro
      .col-md-offset-2.col-md-8
        h1 GAME + KOREAN = <strong> PUZZLE KOREAN </strong>
        p.lead Download Now 
        button.play-store.animates(type='button')
        button.app-store.animates(type='button')